<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>로그인페이지</title>
        <link rel="stylesheet" href="/static/css/pysta_style.css">
        
    </head>
    <body>
        <div id = "login">
            <form method="POST">
                <h2>로그인</h1>
                {% csrf_token %}
                {{ form.as_p}}
                <button tytpe="submit" class="btn btn-login">로그인</button>
                <p>
                    <a href="/users/signup/">회원가입</a>
                </p>
            </form>    
        </div>

    </body>
</html>


