<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>게시글 상세</title>
        <link rel="stylesheet" href="/static/css/pysta_style.css">
    </head>
<div id="signup">
    <form method="POST" enctype="multipart/form-data">
        <h1>회원가입</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-signup">가입 확인</button>
        <a href="{% url 'users:login' %}">로그인 페이지로 이동</a>
    </form>
</div>

